/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    color: #434455;
}

 /* Default values */
 /* font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: white; */

/* Reset styles */
  ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }
a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
    max-width: 100%;
}

h1,h2,h3,h5,h5,h6,p {
    margin: 0;
}

button{
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
    background-color: transparent;
}

/* Common styles */

.benefits-item-text,
.team-item-text,
.portfolio-item-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.benefits-item-title,
.team-item-title,
.portfolio-item-title{
    font-size: 20px;
    color:#2e2f42;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Container */

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto
       
}

/* PAGE HEADER */


.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px
    }

.header-logo-span {
    font-family: 'Raleway', sans-serif;
    color:#2e2f42;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }

.nav-link {
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    padding: 24px 0;
    gap: 40px;
    padding-right: 332px;
    align-items: center;
    
}

.current{
    position: relative;
    color: #404bbf;
}

.current::after{
    content: "";
    position: absolute;
    border-radius: 2px;
    background-color: #404BBF;
    height: 4px;
    width: 100%;
    bottom: -1px;
    left: 0;

}


.nav-link-item {
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-item:hover,
.nav-link-item:focus {
    color:#404BBF;
}

.adress-link-item:hover,
.adress-link-item:focus {
    color:#404BBF;
}

.adress {
    color:#434455;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
}

.adress-link {
    display: flex;
    padding: 24px 0;
    gap: 40px;
}
.adress-link-item {
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HERO SECTION */

.main {
    
}

.hero-section {
    background:#2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(/images/bg/people-office.jpg);
    max-width: 1440px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.hero-page{
    
}

.hero-title {
    color:#FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0px 310px 48px;
    max-width: 496px;
}

.hero-button {
    background-color:#4D5AE5;
    color:#FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    border: none;
    margin: 0 480px 0;
    white-space: nowrap;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:focus,
.hero-button:hover
{
    background-color:#404BBF;
}

/* BENEFITS SECTION */

.benefits-section {
    padding: 120px 0;
}

.benefits-title {
    color:#2e2f42;
}

.icon-benefits{
    border-radius: 4px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;

}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-item {
    width: 264px;
    
}

.benefits-item-title {
    margin-bottom: 8px;
}

.benefits-item-text {}

/* TEAM SECTION */

.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    text-align: center;
    color:#2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.team-list-item {
    background-color: #FFFFFF;
    padding: 32px 0
}

.team-list-image {
}

.team-item-title {
    text-align: center;
    margin-bottom: 8px
}

.team-item-text {
    text-align: center;
    margin-bottom: 8px;
}

.team-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-icons-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #4d5ae5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-link:hover,
.team-icons-link:focus {
    background-color: #404bbf;
}

.team-icon {
    fill: #f4f4fd;
}
/* PORTFOLIO SECTION */

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    text-align: center;
    font-size: 36px;
    color:#2e2f42;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    row-gap: 48px;
}

.portfolio-list .portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-image {
}

.portfolio-title-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-title {
    margin-bottom: 8px;
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 40px 32px;
    top: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5
}

.portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0);
}

.portfolio-item-text {

}

/* FOOTER SECTION */

.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.logo-ftr {
    display: inline-block;
    margin-bottom: 16px;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;   
}

.logo-footer {
    color: #f4f4fd;
}

.footer-text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-container-logo {
    margin-right: 120px;
}

.container-ftr {
    display: flex;
    align-items: baseline;
}

.footer-links-title {
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.team-icons-ftr {
    gap: 16px;
}

.team-icons-link.ftr {

    padding: 8px;
}

.team-icons-link.ftr:hover,
.team-icons-link.ftr:focus {
    background-color: #31d0aa;
}